html {
  box-sizing: border-box;
  font-family: "PT Serif", serif;
  background-color: #c9b5ab;
  color: #222;
  line-height: 1.5rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

/* font-family: 'PT Sans', sans-serif;
font-family: 'PT Serif', serif; */

h1 {
  font-family: "PT Sans", sans-serif;
  color: #3f1622;
  font-size: 1.5rem;
  line-height: 2rem;
}

nav ol {
  list-style-type: none;
  line-height: 1.75rem;
}

nav a {
  font-family: "PT Sans", sans-serif;
  color: #8f2440;
  font-size: 1.125rem;
  text-decoration: none;
}

nav a:hover {
  color: #3f1622;
  border-bottom: 1px solid #3f1622;
}

figcaption {
  font-style: italic;
  text-align: center;
}

img {
  width: 100%;
}

.harvesttime {
  font-size: 1.125rem;
  font-weight: bold;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 2rem;
}

footer > cite {
  font-size: .8rem;
}

.beetsstrong {
  font-weight: normal;
}

h2 {
  font-family: "PT Sans", sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
}

dt {
  font-weight: bold;
}

.size {
  font-style: italic;
}

a {
  color: #8f2440;
  text-decoration: none;
}

a:hover {
  color: #3f1622;
  border-bottom: 1px solid #3f1622;
  text-decoration: none;
}

aside > ul {
  font-size: .8rem;
}

ul {
  list-style-type: circle;
}

main ol {
  list-style-type: lower-greek;
}
